.container {
  position: relative;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__next {
  margin: 30px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}