.modal {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1060;
  &-title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
  }

  &-body {
    padding: 20px;
    &-btns {
      display: flex;
      justify-content: flex-end;

      .btn:not(:first-child) {
        margin-left: 0.5rem;
      }

    }
  }

  &-footer {
    display: flex;

    button:first-child {
      margin-right: auto;
    }
  }

  div.icon {
    font-size: 60px;
    display: flex;
    justify-content: center;
  }

  .text-center {
    font-size: 1.4rem;
    color: #828282;
  }

}

