.selector {
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  min-width: 215px;
  height: 125px;
  margin: 5px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.selector:hover, .selector_selected {
  box-shadow: inset 0px 0px 20px 1px rgba(150, 150, 150, 0.5);
  cursor: pointer;
  color: #ff720a;
}

.selector:hover div, .selector_selected div {
  color: #ff720a;
}

.selector__icon {
  display: block;
}

.selector__label {
  font-size: 1.3rem;
  font-weight: 700;
  color: #464646;
}

.selector__description {
  font-weight: 600;
  font-size: 1rem;
  color: #A7A8A2;
}