.tipo-operacao {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tipo-operacao__title {
  color: #464646;
  font-size: 1.7rem;
  font-weight: 800;
}

.tipo-operacao__options {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}