.position-list {
    list-style: none;
    margin: 0 14px;
    padding: 0;
}

.position-list li {
    display: block;
    /*height: 100px;*/
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px 0;
    border-bottom: 1px solid #d7d7d7;
}

.position-list li.usuario-logado {
    background-color: #ecf0f3;
}

.position-list .number, .position-list .container-img, .position-list .name, .position-list .position {
    display: block;
    /*height: 100px;*/
}

.position-list .user-img {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 50px;
    margin: 25px 10px;
}

.position-list .number {
    color: black;
    font-size: 3.2rem;
    font-weight: 700;
    padding: 0 10px 0;
    width: 80px;
    text-align: center;
    margin: 0;
}

.position-list .name {
    color: #002c7c;
    font-weight: 700;
    font-size: 1.4rem;
    width: 430px;
    text-align: left;
    padding: 0 0 0 10px;
}

.position-list .name small {
    color: #717171;
    font-weight: 400;
    display: block;
}

.position-list .position {
    color: #002c7c;
    font-size: 2rem;
    padding: 31px 20px 0px 10px;
}

.position-list .position small {
    font-size: 1.2rem;
    display: block;
    color: #bebebe;
    line-height: 5px;
}

.position-list.my_rank {
    margin-top: 0;
}

.position-list.my_rank li:last-child {
    background: none;
}

.position-list .container-kind {
    width: 250px;
    text-align: left;
    color: #013188;
    font-weight: 700;
    margin-top: -13px;
    display: inline-block;
}

.position-list .container-kind:before {
    display: inline-block;
    position: relative;
    content: "";
    height: 30px;
    width: 40px;
    top: 9px;
    margin-right: 10px;
}

.position-list .container-kind.bikes:before {
    background: url(../../../assets/icones/ic_bike.svg) no-repeat center center;
}

.position-list .container-kind.cars:before {
    background: url(../../../assets/icones/ic_car.svg) no-repeat center center;
}

.position-list .container-kind.trucks:before {
    background: url(../../../assets/icones/ic_truck.svg) no-repeat center center;
}

.position-list .container-kind.cdcl:before {
  background: url(../../../assets/icones/bt_cdc.svg) no-repeat center center;
}

.position-list .container-kind.cp:before {
  background: url(../../../assets/icones/bt_cp.svg) no-repeat center center;
}

.user-numbers {
    border-bottom: 1px solid #d7d7d7;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.indicator {
    padding: 30px 25px;
    font-weight: 400;
}

.indicator span {
    display: block;
    color: #002c7c;
    font-weight: 700;
    font-size: 2.4rem;
}

.indicator:before {
    font-size: 3rem;
    font-family: 'FontAwesome';
    display: block;
    width: 70px;
    height: 50px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center center !important;
}

.indicator.analysis:before {
    margin: 0 auto;
    content: "";
    background: url(../../../assets/icones/ic_card_patrimonio.svg);
}

.indicator.approved:before {
    margin: 0 auto;
    content: "";
    background: url(../../../assets/icones/ic_timeline_docnecessaria.svg);
}

.indicator.paids:before {
    margin: 0 auto;
    content: "";
    background: url(../../../assets/icones/ic_contratodisponivel.svg);
}

.panel-title.rank-class {
    background: none;
    height: 120px;
    border-bottom: 1px solid #d7d7d7;
    max-width: 600px;
    margin: 0 auto;
}

.panel-title.rank-class .class {
    display: inline-block;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.panel-title.rank-class .diamante {
    background: url(../../../assets/icones/ic_diamond.svg) no-repeat;
}

.panel-title.rank-class .ouro {
    background: url(../../../assets/icones/ic_gold.svg) no-repeat;
}