.records-list {
    padding: 5px 0 10px;
}

.records-list li {
    text-align: left;
    border-bottom: 2px solid #e6e6e6;
}

.records-list li a:after {
    width: 20px;
    height: 20px;
    color: #ff720a;
    content: "\f054";
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    right: 0px;
    top: 14px;
}

@media only screen and (max-width: 767px) {
    .records-list li a:after {
        display: none;
    }
}

.records-list .status {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #a6a6a6;
    margin: 0 10px;
}

@media only screen and (max-width: 767px) {
    .records-list .status {
        margin: 9px 10px;
    }
}

.records-list a {
    text-align: left;
    display: inline-block;
    position: relative;
    font-weight: 700;
    text-decoration: none;
    color: #002c7c;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 5px 5px 0px;
    width: 90%;
}

@media only screen and (max-width: 767px) {
    .records-list a {
        width: 80%;
    }
}

.records-list a small {
    color: #474947;
    display: block;
    font-weight: 100;
}

.records-list .recusada {
    background-color: #b7230f;
}

.records-list .analise {
    background-color: #0e0060;
}

.records-list .analisedireta {
    background-color: #ffc000;
}

.records-list .aprovada {
    background-color: #00ba4b;
}

.records-list .contrato {
    background-color: #00a1cc;
}

.records-list .outro {
    background-color: #a6a6a6;
}