<div class="container-fluid">
    <section id="login">
        <div class="blue-strip"></div>

        <h1>OmniMais</h1>

        <div class="box">
            <div *ngIf="isLogin()">
                <h2>Login</h2>

                <div class="form-group">
                    <label class="sr-only" for="user-login">Usuário</label>
                    <input [(ngModel)]="credencial.login" (keyup)="onKeyup($event)" name="login" type="text" class="form-control" id="user-login"
                        placeholder="Usuário" required tabindex="1" [disabled]="isLoggingIn">
                </div>

                <div class="form-group">
                    <label class="sr-only" for="user-password">Senha</label>
                    <input [(ngModel)]="credencial.senha" (keyup)="onKeyup($event)" name="senha" type="password" class="form-control" id="user-password"
                        placeholder="Senha" required tabindex="2" [disabled]="isLoggingIn">
                </div>

                <a (click)="recoveryPassword()" class="password-recovery" tabindex="6" [ngClass]="{'disabled': isLoggingIn}">Esqueceu sua senha?</a>

                <a (click)="login()" class="btn btn-login btn-sign" [ngClass]="{'disabled': isLoggingIn}" tabindex="3">
                    <span *ngIf="isLoggingIn">Efetuando login...</span>
                    <span *ngIf="!isLoggingIn">Entrar</span>
                </a>

                <div class="clear"></div>
            </div>

            <div *ngIf="isRecoveryPassword()">
                <a (click)="back()" class="password-back">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>

                <h2>Esqueceu sua senha?</h2>
                <p class="text-center">Para redefinir sua senha preencha o campo abaixo:</p>

                <div class="form-group">
                    <label class="sr-only" for="user-login">Usuário</label>
                    <input [(ngModel)]="credencial.login" (keyup)="onKeyup($event)" name="login" type="text" class="form-control" id="user-login"
                        placeholder="Usuário" tabindex="1">
                </div>

                <a (click)="sendRecoveryPassword()" class="btn btn-login btn-sign" tabindex="3">Receber senha por e-mail</a>
            </div>

            <div *ngIf="isMessage()">
                <a (click)="back()" class="password-back">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
                <p class="text-center message">{{message}}</p>
            </div>
        </div>
    </section>

    <div class="logo-container">
        <h2 class="omni-enterprises">Omni Soluções Financeiras</h2>
        <p>Versão {{version}}</p>
    </div>
</div>

<app-select-agente #selecionarAgente></app-select-agente>
