.blue-strip {
  background: #002f86;
  background: -moz-linear-gradient(-45deg, #002f86 0%, #001b4c 100%);
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, #002f86),
    color-stop(100%, #001b4c)
  );
  background: -webkit-linear-gradient(-45deg, #002f86 0%, #001b4c 100%);
  background: -o-linear-gradient(-45deg, #002f86 0%, #001b4c 100%);
  background: -ms-linear-gradient(-45deg, #002f86 0%, #001b4c 100%);
  background: linear-gradient(135deg, #002f86 0%, #001b4c 100%);
}

#login h1 {
  width: 240px;
  height: 52px;
  display: block;
  position: relative;
  margin: 60px auto 56px;
  text-indent: -9999px;
  background-size: cover;
}

#login .blue-strip {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 470px;
  z-index: -1;
  box-shadow: 0 1px 9px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 9px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 9px 3px rgba(0, 0, 0, 0.2);
}

#login .box {
  border-radius: 3px;
  background: #ffffff;
  margin: 0px auto 15px;
  padding: 0 0 45px;
  box-shadow: 0 1px 20px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 20px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 20px 3px rgba(0, 0, 0, 0.1);
  width: 436px;
  min-height: 200px;
  z-index: 1;
}
#login .box h2 {
  color: #002c7c;
  font-size: 2.1rem;
  text-align: center;
  padding: 55px 0 10px;
}

@media only screen and (max-width: 767px) {
  #login .box {
    width: 90%;
  }
}

#login .password {
  display: none;
  padding-bottom: 30px;
}
#login .password h2 {
  padding: 20px 0 10px;
}

#login input {
  border: none;
  border-radius: 0;
  border-bottom: 1.5px solid #c7c8c7;
  text-align: center;
  font-size: 1.6rem;
  padding: 10px 10px;
  box-shadow: none;
}

#login .form-group {
  padding: 11px 18%;
}

#login .password-recovery {
  text-align: center;
  font-weight: bold;
  color: #ff720a;
  display: block;
  padding-bottom: 10px;
  position: relative;
}

#login .password-recovery h2 {
  padding-top: 30px;
}

#login .btn-login {
  height: 50px;
  border-radius: 50px;
  text-align: center;
  display: block;
  position: relative;
  margin: 12px auto;
  width: 65%;
  line-height: 260%;
}

#login .btn-sign {
  background: #ff720a;
  color: #ffffff;
  font-weight: bold;
  border: 1.5px solid #ffffff;
}

#login .btn-sign:hover {
  background: #ffffff;
  color: #ff720a;
  border-color: #ff720a;
}

#login .btn-social {
  border: 1.5px solid #adafad;
  color: #adafad;
}

#login .btn-social:hover {
  background: #ff720a;
  color: #ffffff;
  border-color: #ff720a;
}

#login .btn-social i {
  font-size: 2rem;
}

#login .password-back {
  position: relative;
  display: block;
  top: 15px;
  left: 15px;
  color: #ff720a;
  font-size: 2rem;
}

#login .register {
  color: #ff720a;
  font-weight: bold;
}

#login .message {
  margin-top: 10%;
  font-weight: bold;
}

.logo-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}
.logo-container p {
  color: #cdcdcd;
}
.omni-enterprises {
  background: url(../../assets/images/omni-financeira-logo.svg) center center
    no-repeat;
  background-size: cover;
  text-indent: -9999px;
  display: block;
  margin: 0 auto 10px;
  height: 30px;
  width: 68px;
}
