.user-info {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.user>a {
    line-height: 12px !important;
}

li.user>a label {
    font-size: 10px;
    font-weight: normal !important;
    margin-right: 2px;
}