<header id="top-bar" class="navbar-top">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="/ficha">
                    <h1>OMNI - Soluções Financeiras</h1>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav links">
                    <li routerLinkActive="active">
                        <a routerLink="/ficha">Fichas</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav links" *ngIf="posuiVeiculos || posuiCreditoPessoal">
                    <li routerLinkActive="active">
                        <a routerLink="/meu-desempenho">Meu Desempenho</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav links" *ngIf="(posuiCdcLoja || posuiCdcPremium) && !posuiCreditoPessoal">
                    <li routerLinkActive="active">
                        <a routerLink="/produtos/cdcloja/relatorios">Relatórios</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="user dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Opções do usuário">
                            <span class="user-photo"></span>
                            <div class="name hidden-sm">
                                <span>
                                    <label>Usuário</label>{{loginStorage?.login}}
                                    <small class="user-info">
                                        <label>Agente</label>{{loginStorage?.agente?.id}} - {{loginStorage?.agente?.nome}}</small>
                                    <small class="user-info">
                                        <label>Agente Omni da Cidade</label> {{loginStorage?.agente?.cidade}} - {{loginStorage?.agente?.uf}}</small>
                                </span>
                            </div>
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngIf="loginStorage?.usuario?.agentesSelecionarSize || 0 > 1">
                                <a (click)="onClickSelectAgente()" data-toggle="modal" data-target="#agente">
                                    <i class="fa fa-exchange"></i> Alterar Agente</a>
                            </li>
                            <!-- <li *ngIf="false">
                                <a data-toggle="modal" data-target="#termos">
                                    <i class="fa fa-legal"></i> Termo de Uso</a>
                            </li> -->
                            <li role="separator" class="divider" *ngIf="loginStorage?.usuario?.agentesSelecionarSize || 0 > 1"></li>
                            <li>
                                <a routerLink="/configuracoes">
                                    <i class="fa fa-cog"></i>
                                     Configurações
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fa fa-bookmark"></i> Versão {{version}}</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a routerLink="/login">
                                    <i class="fa fa-sign-out"></i> Sair</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<app-select-agente #selecionarAgente></app-select-agente>

<app-modal-message #modalMessage title="Atenção" message="Falha na Comunicação, verifique sua conexão."
    [hideClose]="true"></app-modal-message>
