.title {
    color: #002c7c;
    font-weight: 700;
    text-align: left;
    width: 94%;
    display: block;
    margin: 0 auto;
}

::ng-deep .btn-group {
    padding: 0px !important;
    display: flex !important;
    justify-content: center !important;
}

::ng-deep .btn-group .btn {
    border: 2px solid #ff720a;
    font-size: 1.6rem;
    font-weight: 700;
    color: #ff720a;
    background-color: #ffffff;
    margin: 8px -1px !important;
    border: 1px solid;
    width: 49%;
    padding: 9px !important;
}

::ng-deep .btn-group .btn:hover, ::ng-deep .btn-group .btn.active {
    background-color: #ff720a;
    color: #ffffff;
    border-color: transparent;
}