.agente-options {
    max-height: 280px;
    overflow: auto;
}

.agente-name {
    width: 550px;
    font-size: 1.3rem !important;
}

input[type="radio"] {
    width: 26px;
    height: 26px;
    margin: 6px 15px 6px 0;
    vertical-align: middle;
}