.panel {
    text-align: center;
    margin: 20px 0 0 20px;
}

@media only screen and (min-width: 1200px) {
    .panel {
        width: auto;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .panel {
        width: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .panel {
        margin: 20px 5px;
    }
}

@media only screen and (max-width: 767px) {
    .panel {
        margin: 20px 5px;
    }
}

.panel {
    margin-left: auto;
    margin-right: auto;
}

.panel .content {
    margin-top: 0px;
    padding: 10px 40px;
}

.panel:last-child {
    margin-bottom: 30px;
}

@media only screen and (min-width: 1200px) {
    .panel {
        max-width: 800px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .panel {
        max-width: 800px;
    }
}

.panel-title h2 {
    margin: 0 25px 0;
}

@media only screen and (max-width: 767px) {
    .panel-title h2 {
        margin: 0 10px 0;
    }
}

.icon-title {
    width: 65px;
    margin: 0px !important;
}

.loader {
    color: #002c7c;
    margin: 45px;
}

.loader-info {
    margin-left: 10px;
}

.no-data {
    margin: 30px;
}