.produto-resultado {
  display: flex;
  justify-content: space-between;
}

.resultado-content {
  font-weight: 700;
  margin: 20px 0px 0px 0px;
}

.btn-card-list {
  background-color: #ffffff;
  color: #002c7c;
}

.btn-card-list.active {
  background-color: #002c7c;
  color: #ffffff;
}
