.table-container {
    margin: 20px 0 80px;
}

.table-filter {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
}

.table-filter-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: #666;
}

.table-filter-search {
    color: #ff720a;
}

.table-body {
    color: #333;
}

.table-row:hover {
    cursor: pointer;
    background-color: #EDEDEE;
}

.table-row-sos {
    font-weight: bold;
    color : #ff720a;
    background-color: #ffd8bc !important;
}

.table-filter-title {
    padding: 10px;
}

td {
  padding: 4px !important;
  vertical-align: middle !important;
}

td span.icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: auto;
}

.table-row:hover {
  background-color: #BBB;
}
