.solicitante {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #eeeeee;
  margin-top: 20px;
}

.solicitante__title {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin: 15px;
}

.solicitante__options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}