div {
    float: right;
    margin: -8px -12px 0 5px;
}

div span {
    background-color: #ff720a;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(40% at 50% 50%);
    padding: 6px;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 7px;
}