.count {
    position: absolute;
    top: 7px;
    height: 15px;
    width: 15px;
    overflow: hidden;
    text-align: center;
    font-size: 8px;
    font-weight: bold;
    line-height: 15px;
    margin-left: 7px;
    display: inline-block;
    vertical-align: middle;
}