<div class="row">
    <ul class="breadcrumb">
        <li>
            <a routerLink="/ficha">
                <i class="fa fa-home"></i> Omni Mais</a>
        </li>
        <li>
            <a [routerLink]="routerCurrentPage" class="active">{{currentPage}}</a>
        </li>
        <li *ngIf="currentPageDetail" class="active">{{currentPageDetail}}</li>
    </ul>

    <ng-content></ng-content>

    <a *ngIf="voltar === 'show'" routerLink="/ficha" title="Voltar para a lista de fichas" class="back-page">
        <i class="fa fa-arrow-left"></i> Voltar
    </a>
</div>