.breadcrumb {
    margin: 0px 0 30px 0;
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
    border-radius: 0;
    padding: 17px 20px;
    line-height: 0;
    transition: all 0.3s ease;
}

.breadcrumb i {
    font-size: 1.8rem;
    color: #002c7c;
}

.breadcrumb a {
    color: #474947;
}

.breadcrumb li:last-child {
    color: #00185c;
    font-weight: 500;
}

.breadcrumb>li+li:before {
    content: ".";
    color: #002c7c !important;
    font-size: 3rem;
    top: -3px;
    display: inline-block;
    position: relative;
    height: 5px;
}

.breadcrumb.menu-closed li:first-child {
    margin-left: 30px;
}

@media (max-width: 576px) {
  .row {
    margin-right: 0;
  }
  .breadcrumb {
    padding: 17px 5px;
  }
}
