.record-list {
    padding: 1px 16px;
}

@media only screen and (min-width: 1200px) {
    .record-list {
        margin: 0px auto;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .record-list {
        margin: 0px auto;
    }
}

.record-list a.btn {
    margin: 0 10px 0 0 !important;
    padding: 5px 0 0 1px;
}

.list-title {
    background: #dddde6;
    padding: 10px;
}

.list-title h3 {
    padding: 7px 0 0;
    margin: 0;
    text-align: left;
}

.list-title a.btn {
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px 0 0 1px;
    text-align: center;
    color: #ff720a;
    background-color: #ffffff;
}