<app-select-produto (filtrarPorProduto)="produtoChange($event)" [disabled]="loading" [isPanel]="true"></app-select-produto>
<app-select-periodo [opcoes]="opcoesPeriodos" [disabled]="loading" (selectedChange)="periodoChange($event)"></app-select-periodo>
<app-painel-meu-desempenho [totaisStatus]="dadosDesempenho?.totaisStatus" [loading]=loading></app-painel-meu-desempenho>
<app-painel-relacao-fichas [periodo]="periodo" [propostasDashboard]="dadosDesempenho?.propostasDashboard" [loading]="loading"></app-painel-relacao-fichas>