.paginator {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #666;
}

.paginator-action {
  display: flex;
  flex-direction: row;
}

.paginator-button {
  cursor: pointer;
  color: black;
  padding: 0 10px 0 10px;
  text-decoration: none;
  border:none;
  background-color: #fff;
}

.paginator-number {
  cursor: pointer;
  color: gray;
  padding: 0 5px 0 5px;
  text-decoration: none;
}

.deactive {
  cursor: not-allowed;
  opacity: 0.5;
}

.deactive>a {
  pointer-events: none;
  text-decoration: none;
}

.active {
  color: #002c7c;
  font-weight: bold;
}
