ul.resume {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #CECECE;
}

ul.resume li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
}

ul.resume li:not(:last-child):after {
    content: "";
    border: 1px solid #CECECE;
    height: 80px;
    margin: auto;
}

ul.resume li:last-child {
    flex: 0;
}

ul.resume li span.sos {
    background: url(../../../../assets/icones/ic_bell.svg);
    background-repeat: no-repeat;
    width: 100px;
}

ul.resume li span.contract {
    background: url(../../../../assets/icones/ic_contratodisponivel.svg);
    background-repeat: no-repeat;
    width: 100px;
}

#canvas-holder {
    width: 80% !important;
    margin: 30px auto 10px auto;
}