#main-container {
    margin-bottom: 40px;
}

.nav {
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav li {
    display: flex;
    margin: 1px 0 -1px;
}

.nav a {
    padding: 15px 30px;
    font-size: 1.6rem;
}