.title {
  color: #BFBFBF;
  font-weight: 700;
  text-align: left;
}

.row-itens {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0px 0px 30px 0px;
  flex-wrap: wrap;
}

.radius {
  border-radius: 10px;
}

.btn {
  border: 1px solid #ffffff;
  font-weight: 700;
  color: #002c7c;
  background-color: #ffffff;
  margin: 8px 3px !important;
}

.btn:hover {
  padding: -2px;
  background-color: #ffffff;
  border: 1px solid #ff720a;
  color: #ff720a;
}

.btn.active {
  border: 1px solid #ff720a;
  background-color: #ff720a;
  color: #ffffff;
  border-color: transparent;
}

.btn-input-checkbox {
  display: none;
}

.deactive {
  cursor: not-allowed;
}
